*{
  font-family: 'Open Sans', sans-serif;
  }
  .footerDiv{
    position: fixed;
    bottom: 0px;
      width: 100%;
  }
  .footer{

    height: 50px;

    background-color: orange;

  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  }
