* {
  font-family: 'Open Sans', sans-serif;
}

.bodycontent {
  padding-bottom: 15px;
  background-color: rgba(246,246,246,100);
}

.bodycontent {
  & .row {
    & .leftcol {
      margin-top: 110px;
    }
  }
}

.semiboldFont {
  font-weight: 600;
}

.namecard {
  background-color: rgba(255,255,255,100);
  box-shadow: 0 0 16px -9px #E8E8E8;
  text-align: center;
  padding: 15px;

  & .name {
    font-size: 1.5em;
  }

  & .areaIDfontStyle {
    font-weight: 600;
    color: #9E9D9D;
    font-size: 0.7em;
  }

  & .nameendLine {
    color: #CDCDCD;
    width: 200px;
  }
}

.cardEndLine {
  color: #D9D9D9;
}

.titleLabel {
  font-weight: 400;
}

.InfoTextbox {
  box-shadow: 0 0 16px -9px #000000;
  border-style: none;
  background-color: #FFFFFF;
  width: 100%;
  padding: 10px;
}

.photosblock {
  .photosList {
    .pictureppty {
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      box-shadow: 0 2px 4px 0 #000000;
    }

    .firstpicture {
      background-image: url("../asset/img/sneha.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .morepicture {
      text-align: center;
      box-sizing: border-box;
      padding: 5px 0;
      margin-left: 10px;
    }
  }
}

.profileTabContent {
  height: 100%;
  background-color: #FFFFFF;
}

.list-inline {
  margin: 30px 10px 30px 0 !important;

  & .tabList {
    padding: 0 !important;
    margin-right: 30px !important;
  }

  & .tabTextStyle {
    color: #000000 !important;
  }
}

.TabContent {
  padding: 15px;
}

.profileInput {
  position: relative;
}

.profileInputBox {
  border: 1px solid #CDCDCD;
  box-shadow: 1px 1px 5px #CDCDCD;
  width: 100%;
  padding: 10px 5px;
}

.profileInputBox + label {
  position: absolute;
  top: 10px;
  justify-content: center;
  left: 20px;
  // width: 100%;
  // transition: 0.2s;
}

.profileLabel{
  font-weight: 400;
      font-family: "Open Sans", sans-serif;
//       z-index: 1;
// position: absolute;

}
.profileInputBox:focus{
 outline: none;
}

.profileInput:valid +label,
.profileInputBox:valid +label
{
    top: -11px;
  background-color: white;
  margin: 0;
}
.select2ProfileInputBox{
position: absolute;
left: 10px;
top: -10px;
background-color: white;
}
