* {
  font-family: "Open Sans", sans-serif;
}

a {
  cursor: pointer;
}

.menu {
  height: 70px;
  background: white;
}

.menu-nav {}

.profilebgpicture {
  width: 100%;
  background-image: url("../asset/img/marriageImg2.png");
  position: relative;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profilebgpicture::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.profilepicture {
  margin: auto;
  position: absolute;
  margin: auto;
  width: 190px;
  height: 190px;
  border-radius: 100px;
  bottom: -90px;
  left: 100px;
  box-shadow: 0 2px 4px 0 #000000;
  background-image: url("../asset/img/sneha.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoImg {
  position: absolute;
  top: -70px;
  left: 160px;
}

.logoText {
  position: absolute;
  top: 30px;
  left: 50px;
}

.searchbox {
  position: absolute;
  bottom: -5px;
  right: 50px;
}

.searchtext {
  position: relative;
  background-color: transparent !important;
  color: white;
}

.searchtext:focus {
  border: 1px solid #ccc !important;
  ackground-color: transparent !important;
  color: white !important;
}

.searchtext::placeholder {
  color: white !important;
}

.linebar {
  position: absolute;
  bottom: 3px;
  right: 27px;
  font-size: 1.5em;
  color: white;
}

.searchimg {
  position: absolute;
  bottom: 7px;
  right: 5px;
  width: 20px;
}

.footerDiv {
  width: 100%;
}

.footer {
  background-color: #FF9400;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  margin: 10px 0;
}

.bodycontent {
  padding-bottom: 15px;
  background-color: #f6f6f6;
}

.bodycontent .row .leftcol {
  margin-top: 110px;
}

.semiboldFont {
  font-weight: 600;
}

.namecard {
  background-color: white;
  box-shadow: 0 0 16px -9px #E8E8E8;
  text-align: center;
  padding: 15px;
}

.namecard .name {
  font-size: 1.5em;
}

.namecard .areaIDfontStyle {
  font-weight: 600;
  color: #9E9D9D;
  font-size: 0.7em;
}

.namecard .nameendLine {
  color: #CDCDCD;
  width: 200px;
}

.cardEndLine {
  color: #D9D9D9;
}

.titleLabel {
  font-weight: 400;
}

.InfoTextbox {
  box-shadow: 0 0 16px -9px #000000;
  border-style: none;
  background-color: #FFFFFF;
  width: 100%;
  padding: 10px;
}

.photosblock .photosList .pictureppty {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 #000000;
}

.photosblock .photosList .firstpicture {
  background-image: url("../asset/img/sneha.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.photosblock .photosList .morepicture {
  text-align: center;
  box-sizing: border-box;
  padding: 5px 0;
  margin-left: 10px;
}

.profileTabContent {
  background-color: #FFFFFF;
}

.list-inline {
  margin: 30px 10px 30px 0 !important;
}

.list-inline .tabList {
  padding: 0 !important;
  margin-right: 30px !important;
}

.list-inline .tabTextStyle {
  color: #000000 !important;
}

.TabContent {
  padding: 15px;
}

.profileInput {
  position: relative;
}

.profileInputBox {
  border: 1px solid #CDCDCD;
  box-shadow: rgba(205, 205, 205, 0.36) 1px 1px 5px;
  width: 100%;
  padding: 10px 5px;
}

.profileInputBox+label {
  position: absolute;
  top: 10px;
  justify-content: center;
  left: 10px;
}

.profileLabel {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.profileInputBox:focus {
  outline: none;
}

.profileInput:valid+label,
.profileInputBox:valid+label,
.profileInputBox:focus+label {
  top: -11px;
  background-color: white;
  margin: 0;
  padding: 0 2px;
}

.select2ProfileInputBox {
  position: absolute;
  left: 10px;
  top: -10px;
  background-color: white;
  padding: 0 2px;
}

.select2-selection__rendered {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.select2-selection__arrow {
  top: 7px !important;
}

.select2-selection--single {
  width: 100% !important;
  height: 42px !important;
  border: 1px solid #CDCDCD !important;
  box-shadow: rgba(205, 205, 205, 0.36) 1px 1px 5px !important;
  border-radius: 0px !important;
}

.select2-container {
  width: 100% !important;
}

.select2-selection--single:focus, input:focus, textarea:focus {
  outline: none !important;
}

.logout {
  float: right;
  margin-top: -45px;
  margin-right: 50px;
}

.optionbtn {
  float: right;
}

#savebtn, #cancelbtn {
  display: none;
}

.addImage {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: #000000a1;
  padding-top: 50%;
  padding-left: 25%;
  border-radius: 103px;
  width: 100%;
  height: 100%;
}

#upload_widget_opener:hover .addImage {
  display: block;
  cursor: pointer;
}
