* {
  font-family: 'Open Sans', sans-serif;
  color: #787777;
}

.bgpicture {
  width: 100%;
  background-image: url(../asset/img/marriageImg.png);
  position: relative;
  margin-top: 70px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgpicture::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  cursor: pointer;
  /* Add a pointer on hover */
}

.logoImg {
  position: absolute;
  top: -70px;
  left: 160px;
}

.logoText {
  position: absolute;
  top: 12px;
  left: 50px;
}

.bodycontent {}

.registrationForm {
  box-shadow: 0 0 16px -5px #000000;
  margin: 20px 10px;
  box-sizing: border-box;
  /* border:1px solid black; */
  /* box-shadow: 10px 10px; */
  padding: 30px 20PX 10PX;
}

.profileDetails {
  box-shadow: 0 0 12px -3px #000000;
  overflow: hidden;
  padding: 15px;
  /* background-color: red; */
  margin: 20px 10px;
  box-sizing: border-box;
}

.regsiterButton {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#F5515F, #9F041B);
  border-radius: 4px;
  padding: 12px;
}

.regsiterButtonStyle {
  color: white !important;
}

.profilePicture {
  width: 15%;
  padding-bottom: 15%;
  position: relative;
  /* object-fit: cover; */
  background-image: url(../asset/img/sneha.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: auto; */
  float: left;
}

.profileInfo {
  float: left;
  margin-left: 5%;
  font-size: 1.5em;
  ;
}

.OtherInfo {
  font-size: 10px;
  margin: 6px 0px 20px 0px;
}

.whitecolor {
  color: white !important;
}

.viewButton {
  font-size: 15px;
  text-align: center;
  background-image: linear-gradient(#FFA105, #FF6C12);
  border-radius: 4px;
  padding: 5px 20px;
  float: left;
}

.lock {
  font-size: 1.2em;
  float: left;
  margin: 3px 10px;
}

.footerDiv {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer {
  color: white;

  .footer {
    height: 50px;
    background-color: orange;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
  }

  .allProfileDetails {
    box-shadow: 0 0 12px -3px #000000;
    height: calc(100vh - 160px - 50px - 30px - 70px);
    overflow-y: scroll;
    padding: 10px;
    /* background-color: red; */
    margin: 20px 10px;
  }

  .bodycontent {
    /* height: calc(100vh - 160px - 50px - 30px - 70px - 10rem); */
  }

  .searchbox {
    position: absolute;
    bottom: -5px;
    right: 50px;
  }

  .searchtext {
    position: relative;
    background-color: transparent !important;
  }

  .linebar {
    position: absolute;
    bottom: -3px;
    right: 27px;
    font-size: 1.9em;
    color: white;
  }

  .searchimg {
    position: absolute;
    bottom: 7px;
    right: 5px;
    width: 20px;
  }

  .searchtext {
    background-color: transparent !important;
  }

  .buildingImg {
    /* width: 50rem; */
    margin: auto;
    max-height: 100%;
  }

  .box {
    height: 5rem;
    background-color: #FBFBFB;
  }

  .profilebgpicture {
    width: 100%;
    background-image: url(../asset/img/marriageImg2.png);
    position: relative;
    margin-top: 70px;
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .registrationTextStyle {
    font-weight: 400;
  }

  .style1 {
    margin-top: 5px;
    color: #D9D9D9;
  }

  .textboxstyle {
    border: 1px solid #979797;
    padding: 10px;
  }

  .smallfont {
    font-size: 0.8em;
  }

  .blurstyle {
    filter: blur(5px);
  }
