* {
  font-family: 'Open Sans', sans-serif;
  color: #787777;
}

.bgpicture {
  width: 100%;
  background-image: url(../asset/img/marriageImg.png);
  position: relative;
  margin-top: 70px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgpicture::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  cursor: pointer;
  /* Add a pointer on hover */
}

.logoImg {
  position: absolute;
  top: -70px;
  left: 160px;
}

.logoText {
  position: absolute;
  top: 12px;
  left: 50px;
}

.bodycontent {}

.registrationForm {
  box-shadow: 0 0 16px -5px #000000;
  margin: 20px 10px;
  box-sizing: border-box;
  /* border:1px solid black; */
  /* box-shadow: 10px 10px; */
  padding: 30px 20px 20px;
}

.profileDetails {
  box-shadow: 0 0 12px -3px #000000;
  overflow: hidden;
  padding: 15px;
  /* background-color: red; */
  margin: 20px 10px;
  box-sizing: border-box;
}

.regsiterButton {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#F5515F, #9F041B);
  border-radius: 4px;
  padding: 12px;
      color: white;
}

.regsiterButtonStyle {
  color: white !important;
  font-weight: 300;
}

.profilePicture {
  width: 160px;
  height: 150px;
  padding-bottom: 15%;
  position: relative;
  /* object-fit: cover; */
  background-image: url(../asset/img/sneha.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: auto; */
  float: left;
}

.profileInfo {
  float: left;
  margin-left: 5%;
  font-size: 1.5em;
  ;
}

.OtherInfo {
  font-size: 10px;
  margin: 6px 0px 27px 0px;
}

.whitecolor {
  color: white !important;
}

.viewButton {
  text-align: center;
  background-image: linear-gradient(#FFA105, #FF6C12);
  border-radius: 4px;
  padding: 7px 20px;
  float: left;
  font-weight: 300;
  font-size: 0.6em;
}

.lock {
  font-size: 1em;
  float: left;
  margin: 5px 10px;
}

.footerDiv {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer {
  color: white;
  height: 50px;
  background-color: orange;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  font-weight: 300;
}

.allProfileDetails {
  box-shadow: 0 0 12px -3px #000000;
  height: calc(100vh - 160px - 50px - 30px - 70px);
  overflow-y: scroll;
  padding: 10px;
  /* background-color: red; */
  margin: 20px 10px;
}

.bodycontent {
  /* height: calc(100vh - 160px - 50px - 30px - 70px - 10rem); */
}

.searchbox {
  position: absolute;
  bottom: -5px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px !important;
  border-radius: 4px;
}

.searchtext {
  border: 0px !important;
  color: white !important;
  position: relative;
  background-color: transparent !important;
  padding: 0px 20px 0px 10px !important;
  font-weight: 300;
}

.searchtext::placeholder {
  font-weight: 300;
  color: white;
  font-size: 0.8em;
}

.linebar {
  position: absolute;
  bottom: -3px;
  right: 27px;
  font-size: 1.9em;
  color: white;
}

.searchimg {
  position: absolute;
  bottom: 7px;
  right: 5px;
  width: 18px;
}

.buildingImg {
  /* width: 50rem; */
  margin: auto;
  max-height: 100%;
}

.box {
  height: 5rem;
  background-color: #FBFBFB;
}

.profilebgpicture {
  width: 100%;
  background-image: url(../asset/img/marriageImg2.png);
  position: relative;
  margin-top: 70px;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registrationTextStyle {
  font-weight: 400;
}

.style1 {
  margin-top: 5px;
  color: #D9D9D9;
}

.textboxstyle {
  border: 1px solid #979797;
  padding: 10px;
   outline: none !important;
}

.smallfont {
  font-size: 0.8em;
}

.blurstyle {
  filter: blur(5px);
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
}

.tickMark {
  color: #417505;
  margin: 0 0 0 10px;
}

.verifiedText {
  font-size: 0.6em;
  vertical-align: middle;
}

.copyrightsytle {
  color: white;
  margin: 0px 5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.logintextStyle {
  position: absolute;
  top: -45px;
  right: 25px;
}

#registrationUsingEmailPwd {
  display: none;
}

#registrationForm {
  /* display: none; */
}

#OtpGeneration {
  /* display: none; */
}

#OtpVerification {
  display: none;
}

#LoginForm {
  display: none;
}

.verifyotpButton {
  margin-top: 30px;
}

.resendtextStyle {
  margin-top: -10px;
  float: right;
  font-size: 0.8em;
  color: #4A90E2 !important;
}
.input:focus, .textboxstyle:focus{
 outline: none !important;
}
