<html>

<head>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800"
        rel="stylesheet">
  <link rel="stylesheet"
        href="css/profilepage.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css">



</head>

<body>
  <div class="registrationPage">
    <div class="menu row m-0">
      <div class="col-12 p-3">
        <div class="menu-nav float-right pt-4 mr-5">
          <a class=""
             id="profileView">Profile</a>
          <span class="">|</span>
          <a class=""
             id="findMatch">My Match</a>
          <span class="">|</span>
          <a class=""
             id="logoutAct">Logout</a>
        </div>
      </div>
    </div>

    <div class="header">

      <div class="profilebgpicture">
        <div class="profilepicture"
             id="upload_widget_opener">
          <div class="addImage">
            Change Image
          </div>
        </div>
        <i class="fa fa-add"></i>

        <img src="asset/img/logo.png"
             class="img-responsive logoImg">


        <img src="asset/img/logoWords.png"
             class="img-responsive logoText">

        <div class="form-group searchbox">

          <input type="text"
                 class="form-control searchtext"
                 placeholder="Search">
          <span class="linebar">|</span>
          <img src="asset/img/search.png"
               class="img-responsive searchimg">

        </div>

      </div>
    </div>
    <div class="bodycontent container-fluid">
      <div class="row">
        <div class="col-lg-3 leftcol">

          <div class="namecard">
            <div class="name semiboldFont">{{firstName}}
            </div>
            <div class="areaIDfontStyle semiboldFont">Chennai, India
            </div>
            <hr class="">
            <div class="areaIDfontStyle semiboldFont">VVM 001
            </div>
          </div>

          <hr class="cardEndLine">

          <!-- profession card -->
          <div class="bodycontent__row__leftcol__professionCard">

            <div class="form-group">
              <label class="titleLabel">PROFESSION</label>
              <input type="text"
                     class="InfoTextbox"
                     id="">
            </div>

          </div>

          <hr class="cardEndLine" />

          <!-- edcuation card -->
          <div class="bodycontent__row__leftcol__educationCard">

            <div class="form-group">
              <label class="titleLabel">EDUCATION</label>
              <input type="text"
                     class="InfoTextbox"
                     id="">
            </div>

          </div>

          <hr class="cardEndLine">

          <!-- interest card -->
          <div class="interestCard">

            <div class="form-group">
              <label class="titleLabel">RELIGION & CASTE</label>
              <input type="text"
                     class="InfoTextbox"
                     id="">
            </div>

          </div>

          <hr class="cardEndLine">

          <!-- pictures -->
          <!--
          <div class="photosblock">

            <div class="titleLabel">More Pictures of me</div>
            <div class="photosList">
              <div class="firstpicture pictureppty"></div>
              <div class="morepicture pictureppty">...</div>
            </div>


          </div> -->

        </div>
        <div class="col-lg-9">
          <div class="tabs">
            <ul class="list-inline">
              <li class="tabList"><a class="tabTextStyle"
                   href="#">PROFILE</a></li>
              <li class="tabList"><a class="tabTextStyle"
                   href="#">HOBBIES & INTEREST</a></li>
              <li class="tabList"><a class="tabTextStyle"
                   href="#">PHOTOS</a></li>
              <li class="tabList optionbtn"><a class="tabTextStyle"
                   href="#"><i class="fa fa-edit"
                     id="editbtn"></i></a></li>
              <li class="tabList optionbtn"><a class="tabTextStyle"
                   href="#"><i class="fa fa-check"
                     id="savebtn"></i></a></li>
              <li class="tabList optionbtn"><a class="tabTextStyle"
                   href="#"><i class="fa fa-times"
                     id="cancelbtn"></i></a></li>



            </ul>
          </div>
          <div class="profileTabContent TabContent">
            <div>BASIC & LIFE STYLE
            </div>
            <hr class="lifeStyleLine">
            <div class="container-fluid">

              <!-- first row -->

              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="profileInputBox inputbox"
                           ng-model="firstName">
                    <label for="name"
                           class="profileLabel">Name</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id=""
                           name="name"
                           type="text"
                           required
                           class="profileInputBox inputbox clock-input">
                    <label for="name"
                           class="profileLabel">Date Of Birth</label>
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="profileInput">
                    <!-- <input id="name" name="name" type="text" required class="profileInputBox"> -->

                    <select class="js-example-basic-single select2me"
                            name="religion">
                      <option value="H">Hinduism</option>
                      ...
                      <option value="C">Christianity</option>
                      ...
                      <option value="I">Islam</option>
                    </select>
                    <label for="name"
                           class="profileLabel select2ProfileInputBox">Religion</label>
                  </div>
                </div>

              </div>
              <!-- second row -->
              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="inputbox profileInputBox">
                    <label for="name"
                           class="profileLabel">Gender</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="inputbox profileInputBox">
                    <label for="name"
                           class="profileLabel">Height</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="inputbox profileInputBox">
                    <label for="name"
                           class="profileLabel">Complexion</label>
                  </div>
                </div>

              </div>

              <!-- third row -->
              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="Language">
                      <option value="">Graduate</option>
                      ...
                      <option value="WY">Professional</option>
                    </select>
                    <label for="name"
                           class="profileLabel select2ProfileInputBox">Education</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="Language">
                      <option value="">Private</option>
                      ...
                      <option value="WY">Government</option>
                    </select>
                    <label for="name"
                           class="profileLabel select2ProfileInputBox">Profiession</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="Language">
                      <option value="">Less than 50k</option>
                      ...
                      <option value="WY">More than 50k</option>
                    </select>
                    <label for="name"
                           class="profileLabel select2ProfileInputBox">Salary</label>
                  </div>
                </div>

              </div>

              <!-- fourth row -->
              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="Language">
                      <option value="">Chennai</option>
                      ...
                      <option value="WY">Coimbatore</option>
                      ...
                      <option value="WY">Kanchipuram</option>
                      ...
                      <option value="WY">Thanjavur</option>
                    </select>
                    <label for="name"
                           class="profileLabel select2ProfileInputBox">City</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="inputbox profileInputBox">
                    <label for="name"
                           class="profileLabel">Address</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="inputbox profileInputBox">
                    <label for="name"
                           class="profileLabel">Physical Disablity</label>
                  </div>
                </div>

              </div>

              <!-- fifth row -->
              <div class="row">
                <!--
                  <div class="col-md-4">
                    <div class="profileInput">

                      <select class="js-example-basic-single select2me" name="Language">
  <option value="">English</option>
    ...
  <option value="WY">Tamil</option>
</select>
                      <label for="name" class="profileLabel select2ProfileInputBox">Language Known</label>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="profileInput">
                      <input id="name" name="name" type="text" required    class="inputbox profileInputBox">
                      <label for="name" class="profileLabel">Physical Disablity</label>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="profileInput">
                      <input id="name" name="name" type="text" required    class="inputbox profileInputBox">
                      <label for="name" class="profileLabel">Salary</label>
                    </div>
                  </div>

                </div> -->

                <!-- sixth row -->
                <!-- <div class="row">

                      <div class="col-md-4">
                        <div class="profileInput">
                          <input id="name" name="name" type="text" required class="profileInputBox">
                          <label for="name" class="profileLabel">Your Name</label>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="profileInput">
                          <input id="name" name="name" type="text" required class="profileInputBox">
                          <label for="name" class="profileLabel">Your Name</label>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="profileInput">
                          <input id="name" name="name" type="text" required class="profileInputBox">
                          <label for="name" class="profileLabel">Your Name</label>
                        </div>
                      </div>

                    </div> -->

              </div>
            </div>

            <div> HOROSCOPE & ZODIAC DETAILS
            </div>
            <hr class="lifeStyleLine">
            <div class="container-fluid">

              <!-- first row -->

              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="profileInputBox inputbox"
                           ng-model="firstName">
                    <label for="name"
                           class="profileLabel">Name</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="profileInputBox inputbox">
                    <label for="name"
                           class="profileLabel">Date Of Birth</label>
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="profileInput">
                    <!-- <input id="name" name="name" type="text" required class="profileInputBox"> -->

                    <select class="js-example-basic-single select2me"
                            name="religion">
                      <option value="H">Hinduism</option>
                      ...
                      <option value="C">Christianity</option>
                      ...
                      <option value="I">Islam</option>
                    </select>
                    <label for="name"
                           class="profileLabel select2ProfileInputBox">Religion</label>
                  </div>
                </div>

              </div>
              <!-- second row -->

            </div>

            <div> FAMILY DETAILS
            </div>
            <hr class="lifeStyleLine">
            <div class="container-fluid">

              <!-- first row -->

              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="profileInputBox inputbox"
                           ng-model="firstName">
                    <label for="name"
                           class="profileLabel">Name</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="profileInputBox inputbox">
                    <label for="name"
                           class="profileLabel">Date Of Birth</label>
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="profileInput">
                    <!-- <input id="name" name="name" type="text" required class="profileInputBox"> -->

                    <select class="js-example-basic-single select2me"
                            name="religion">
                      <option value="H">Hinduism</option>
                      ...
                      <option value="C">Christianity</option>
                      ...
                      <option value="I">Islam</option>
                    </select>
                    <label for="name"
                           class="profileLabel select2ProfileInputBox">Religion</label>
                  </div>
                </div>

              </div>
              <!-- second row -->

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Hidden Variables -->
    <input type="hidden"
           id="image-url" />
    <input type="hidden"
           id="image-thumbnail-url" />
  </div>
  <div class="footerDiv">
    <div class="footer">
      vivahahvizhamatrimony 2018
    </div>
  </div>
</body>

<!-- <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/ar.js"></script> -->


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>


<script src="http://widget.cloudinary.com/global/all.js"
        type="text/javascript"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css"
      rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>
<script src="js/constants.js"></script>
<script defer
        src="js/profile.js"></script>

<script>
  $(document).ready(function() {
    $('.js-example-basic-single').select2();

  });

  // $('.select2me').click(function(e) {
  //   if ($(this).find('select2-dropdown-open')) {
  //     $(this).next('.head_ctrl_label').css('margin-top', '-25px');
  //   }
  //   e.preventDefault();
  // });
  //
</script>
<script>
  history.pushState(null, null, location.href);
  window.onpopstate = function() {
    history.go(1);
  };
</script>

</html>
