<html>

<head>

  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800"
        rel="stylesheet">
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css">
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css"
        rel="stylesheet" />
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />
  <link rel="stylesheet"
        href="css/loader.css">
  <link rel="stylesheet"
        href="css/profilepage.css">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">


  <!-- Start of Async Drift Code -->
  <script>
    "use strict";

          !function() {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
              if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
              t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
              t.factory = function(e) {
                return function() {
                  var n = Array.prototype.slice.call(arguments);
                  return n.unshift(e), t.push(n), t;
                };
              }, t.methods.forEach(function(e) {
                t[e] = t.factory(e);
              }), t.load = function(t) {
                var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                var i = document.getElementsByTagName("script")[0];
                i.parentNode.insertBefore(o, i);
              };
            }
          }();
          drift.SNIPPET_VERSION = '0.3.1';
          drift.load('cdnr54r7i72m');
          </script>
  <!-- End of Async Drift Code -->


</head>

<body>
  <div class="registrationPage bgcolor">
    <div class="menu row m-0">
      <div class="col-12 p-3 bgcolor">
        <div class="menu-nav float-right pt-4 mr-5">
          <a class=""
             id="homeView"
             href="home.html">Home</a>
          <span class="">|</span>
          <a class="selected"
             id="profileView"
             href="#">Profile</a>
          <span class="">|</span>

          <a class=""
             id="logoutAct">Logout</a>
        </div>
      </div>
    </div>

    <div class="header">

      <div class="profilebgpicture">
        <div class="profilepicture"
             id="upload_widget_opener">
          <div class="addImage">
            Change Image
          </div>
        </div>
        <i class="fa fa-add"></i>

        <img src="asset/img/logo.png"
             class="img-responsive logoImg">


        <img src="asset/img/logoWords.png"
             class="img-responsive logoText">


      </div>
    </div>

    <div class="bodycontent container-fluid bgcolor">
      <div class="row">
        <div class="col-lg-3 leftcol">

          <div class="namecard">
            <div class="name semiboldFont"
                 id="fullName"
                 style="text-transform: uppercase;">
            </div>
            <div class="areaIDfontStyle semiboldFont"
                 id="livingPlace">
            </div>
            <hr class="">
            <div class="areaIDfontStyle semiboldFont">VVM <span id="profileViewId"></span>, <span id="age"></span>yrs
            </div>
          </div>

          <hr class="cardEndLine">


          <!-- Contact card -->
          <div class="bodycontent__row__leftcol__professionCard">
            <div class="form-group">
              <label class="titleLabel">CONTACT NUMBER</label>
              <input type="text"
                     class="InfoTextbox"
                     placeholder="Registerd Phone Number"
                     id="contactNo"
                     disabled>
            </div>

          </div>

          <hr class="cardEndLine" />

          <!-- profession card -->
          <div class="bodycontent__row__leftcol__professionCard">

            <div class="form-group">
              <label class="titleLabel">PROFESSION</label>
              <select class="InfoTextbox js-example-basic-single select2me diableChanges"
                      id="profession">
                <option value=""
                        selected="selected"
                        disabled="disabled">-- select one --</option>
                <optgroup label="Healthcare Practitioners and Technical Occupations:">
                  <option value="Chiropractor">Chiropractor</option>
                  <option value="Dentist">Dentist</option>
                  <option value="Dietitian or Nutritionist">Dietitian or Nutritionist</option>
                  <option value="Optometrist">Optometrist</option>
                  <option value="Pharmacist">Pharmacist</option>
                  <option value="Physician">Physician</option>
                  <option value="Physician Assistant">Physician Assistant</option>
                  <option value="Podiatrist">Podiatrist</option>
                  <option value="Registered Nurse">Registered Nurse</option>
                  <option value="Therapist">Therapist</option>
                  <option value="Veterinarian">Veterinarian</option>
                  <option value="Health Technologist or Technician">Health Technologist or Technician</option>
                </optgroup>

                <optgroup label="Business, Executive, Management, and Financial Occupations:">
                  <option value="Chief Executive">Chief Executive</option>
                  <option value="General and Operations Manager">General and Operations Manager</option>
                  <option value="Advertising, Marketing, Promotions, Public Relations, and Sales Manager">Advertising, Marketing, Promotions, Public Relations, and Sales Manager</option>
                  <option value="Operations Specialties Manager (e.g., IT or HR Manager)">Operations Specialties Manager (e.g., IT or HR Manager)</option>
                  <option value="Construction Manager">Construction Manager</option>
                  <option value="Engineering Manager">Engineering Manager</option>
                  <option value="Accountant, Auditor">Accountant, Auditor</option>
                  <option value="Business Operations or Financial Specialist">Business Operations or Financial Specialist</option>
                  <option value="Business Owner">Business Owner</option>
                  <option value="Other Business, Executive, Management, Financial Occupation">Other Business, Executive, Management, Financial Occupation</option>
                </optgroup>
                <optgroup label="Architecture and Engineering Occupations:">
                  <option value="Architect, Surveyor, or Cartographer">Architect, Surveyor, or Cartographer</option>
                  <option value="Engineer">Engineer</option>
                  <option value="Other Architecture and Engineering Occupation">Other Architecture and Engineering Occupation</option>
                </optgroup>
                <optgroup label="Education, Training, and Library Occupations:">
                  <option value="Postsecondary Teacher">Postsecondary Teacher (e.g., College Professor)</option>
                  <option value="Primary, Secondary, or Special Education School Teacher">Primary, Secondary, or Special Education School Teacher</option>
                  <option value="Other Teacher or Instructor">Other Teacher or Instructor</option>
                  <option value="Other Education, Training, and Library Occupation">Other Education, Training, and Library Occupation</option>
                </optgroup>
                <optgroup label="Other Professional Occupations:">
                  <option value="Other Education, Training, and Library Occupation">Arts, Design, Entertainment, Sports, and Media Occupations</option>
                  <option value="Computer Specialist, Mathematical Science">Computer Specialist, Mathematical Science</option>
                  <option value="Counselor, Social Worker, or Other Community and Social Service Specialist">Counselor, Social Worker, or Other Community and Social Service Specialist</option>
                  <option value="Lawyer, Judge">Lawyer, Judge</option>
                  <option value="Life Scientist (e.g., Animal, Food, Soil, or Biological Scientist, Zoologist)">Life Scientist (e.g., Animal, Food, Soil, or Biological Scientist, Zoologist)</option>
                  <option value="Physical Scientist (e.g., Astronomer, Physicist, Chemist, Hydrologist)">Physical Scientist (e.g., Astronomer, Physicist, Chemist, Hydrologist)</option>
                  <option value="Religious Worker (e.g., Clergy, Director of Religious Activities or Education)">Religious Worker (e.g., Clergy, Director of Religious Activities or Education)</option>
                  <option value="Social Scientist and Related Worker">Social Scientist and Related Worker</option>
                  <option value="Other Professional Occupation">Other Professional Occupation</option>
                </optgroup>
                <optgroup label="Office and Administrative Support Occupations:">
                  <option value="Supervisor of Administrative Support Workers">Supervisor of Administrative Support Workers</option>
                  <option value="Financial Clerk">Financial Clerk</option>
                  <option value="Secretary or Administrative Assistant">Secretary or Administrative Assistant</option>
                  <option value="Material Recording, Scheduling, and Dispatching Worker">Material Recording, Scheduling, and Dispatching Worker</option>
                  <option value="Other Office and Administrative Support Occupation">Other Office and Administrative Support Occupation</option>
                </optgroup>
                <optgroup label="Services Occupations:">
                  <option value="Protective Service (e.g., Fire Fighting, Police Officer, Correctional Officer)">Protective Service (e.g., Fire Fighting, Police Officer, Correctional Officer)</option>
                  <option value="Chef or Head Cook">Chef or Head Cook</option>
                  <option value="Cook or Food Preparation Worker">Cook or Food Preparation Worker</option>
                  <option value="Food and Beverage Serving Worker (e.g., Bartender, Waiter, Waitress)">Food and Beverage Serving Worker (e.g., Bartender, Waiter, Waitress)</option>
                  <option value="Building and Grounds Cleaning and Maintenance">Building and Grounds Cleaning and Maintenance</option>
                  <option value="Personal Care and Service (e.g., Hairdresser, Flight Attendant, Concierge)">Personal Care and Service (e.g., Hairdresser, Flight Attendant, Concierge)</option>
                  <option value="Sales Supervisor, Retail Sales">Sales Supervisor, Retail Sales</option>
                  <option value="Retail Sales Worker">Retail Sales Worker</option>
                  <option value="Insurance Sales Agent">Insurance Sales Agent</option>
                  <option value="Sales Representative">Sales Representative</option>
                  <option value="Real Estate Sales Agent">Real Estate Sales Agent</option>
                  <option value="Other Services Occupation">Other Services Occupation</option>
                </optgroup>
                <optgroup label="Agriculture, Maintenance, Repair, and Skilled Crafts Occupations:">
                  <option value="Construction and Extraction (e.g., Construction Laborer, Electrician)">Construction and Extraction (e.g., Construction Laborer, Electrician)</option>
                  <option value="Farming, Fishing, and Forestry">Farming, Fishing, and Forestry</option>
                  <option value="Installation, Maintenance, and Repair">Installation, Maintenance, and Repair</option>
                  <option value="Production Occupations">Production Occupations</option>
                  <option value="Other Agriculture, Maintenance, Repair, and Skilled Crafts Occupation">Other Agriculture, Maintenance, Repair, and Skilled Crafts Occupation</option>
                </optgroup>
                <optgroup label="Transportation Occupations:">
                  <option value="Aircraft Pilot or Flight Engineer">Aircraft Pilot or Flight Engineer</option>
                  <option value="Motor Vehicle Operator (e.g., Ambulance, Bus, Taxi, or Truck Driver)">Motor Vehicle Operator (e.g., Ambulance, Bus, Taxi, or Truck Driver)</option>
                  <option value="Other Transportation Occupation">- Other Transportation Occupation</option>
                </optgroup>
                <optgroup label="Other Occupations:">
                  <option value="Other Occupation">Other Occupation</option>
                  <option value="Not Applicable">Not Applicable</option>
                </optgroup>

              </select>
            </div>

          </div>

          <hr class="cardEndLine" />

          <!-- edcuation card -->
          <div class="bodycontent__row__leftcol__educationCard">

            <div class="form-group">
              <label class="titleLabel">EDUCATION</label>
              <select class="InfoTextbox js-example-basic-single select2me diableChanges"
                      id="education">
                <option value=""
                        selected="selected"
                        disabled="disabled">-- select one --</option>

                <option value="Doctorate or higher">Doctorate or higher</option>
                <option value="Master's degree">Master's degree</option>
                <option value="Bachelor's degree">Bachelor's degree</option>
                <option value="Vocational qualification">Vocational qualification</option>
                <option value="Secondary education">Secondary education or high school</option>
                <option value="Primary education">Primary education</option>
                <option value="No formal education">No formal education</option>
              </select>
            </div>

          </div>

          <hr class="cardEndLine">

          <!-- interest card -->
          <div class="interestCard">

            <div class="form-group">
              <label class="titleLabel">RELIGION</label>
              <select class="InfoTextbox js-example-basic-single select2me diableChanges"
                      id="religion">

                <option value=""
                        selected="selected"
                        disabled="disabled">-- select one --</option>
                <option value="Hindu">Hindu</option>
                <!-- <option value="Christian">Christian</option>
                <option value="Muslim">Muslim</option> -->
              </select>
            </div>

          </div>

          <hr class="cardEndLine">

          <!-- interest card -->
          <div class="interestCard">

            <div class="form-group">
              <label class="titleLabel">CASTE</label>
              <select class="InfoTextbox js-example-basic-single select2me diableChanges"
                      id="caste">
                <option value=""
                        selected="selected"
                        disabled="disabled">-- select one --</option>
                <optgroup label="Vanniyar Sub Caste List:">
                  <option value="Vanniakula Kshatriya">Vanniakula Kshatriya</option>
                  <option value="Vanniya Goundar">Vanniya Goundar</option>
                  <option value="Padayachi">Padayachi</option>
                  <option value="Palli">Palli</option>
                  <option value="Agnikula Kshatriya">Agnikula Kshatriya</option>
                  <option value="Paravar">Paravar</option>
                </optgroup>
              </select>
            </div>

          </div>

          <hr class="cardEndLine">



        </div>
        <div class="col-lg-9">
          <div class="tabs">
            <ul class="list-inline">
              <li class="tabList"><a class="tabTextStyle"
                   href="#">PROFILE</a></li>
              <li class="tabList"><a class="tabTextStyle"
                   href="#">HOBBIES & INTEREST</a></li>
              <li class="tabList"><a class="tabTextStyle"
                   href="#">PHOTOS</a></li>
              <li class="tabList optionbtn"><a class="tabTextStyle"
                   href="#"
                   id="editbtn">EDIT <i class="fa fa-pencil-square-o"
                     aria-hidden="true"></i></a></li>
              <!-- <li class="tabList optionbtn"><a class="tabTextStyle"
                   href="#"
                   id="savebtn">SAVE</a></li> -->
              <li class="tabList optionbtn"><a class="tabTextStyle"
                   href="#"
                   id="cancelbtn">CANCEL</a></li>



            </ul>
          </div>
          <div class="profileTabContent TabContent">
            <div>BASIC & LIFE STYLE
            </div>
            <hr class="lifeStyleLine">
            <div class="container-fluid">

              <!-- first row -->

              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           class="profileInputBox inputbox"
                           ng-model="firstName">
                    <label for="name"
                           class="profileLabel">Full Name</label>
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="dob"
                           name="dob"
                           type="text"
                           required
                           class="profileInputBox inputbox date">
                    <label for="dob"
                           class="profileLabel">Date Of Birth</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="email"
                           name="email"
                           type="email"
                           required
                           class="profileInputBox inputbox emailDisable"
                           ng-model="firstName">
                    <label for="email"
                           class="profileLabel">Email Id</label>
                  </div>
                </div>


              </div>
              <!-- second row -->
              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput">


                    <select class="js-example-basic-single select2me"
                            name="Language"
                            id="gender">
                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <!-- <option value="Others">Others</option> -->

                    </select>
                    <label for="gender"
                           class="profileLabel select2ProfileInputBox">Gender</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="height"
                           name="height"
                           type="number"
                           required
                           class="inputbox profileInputBox">
                    <label for="height"
                           class="profileLabel">Height(cm)</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="Language"
                            id="complexion">
                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Dark">Dark</option>
                      <option value="Whitish">Whitish</option>
                      <option value="Brownish">Brownish</option>

                    </select>
                    <label for="complexion"
                           class="profileLabel select2ProfileInputBox">Skin Complexion</label>
                  </div>
                </div>

              </div>

              <!-- third row -->
              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="Language"
                            id="salary">

                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="LT1l">Less than 1 Lakh</option>
                      <option value="LT3l">1 Lakh - 3 lakhs</option>
                      <option value="LT5l">3 Lakhs - 5 lakh</option>
                      <option value="AB5l">Above 5lakhs</option>
                    </select>
                    <label for="salary"
                           class="profileLabel select2ProfileInputBox">Annual Income</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="Language"
                            id="cityLiving">

                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Chennai">Chennai</option>

                    </select>
                    <label for="cityLiving"
                           class="profileLabel select2ProfileInputBox">City Living</label>

                  </div>
                </div>


                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="nativePlace"
                           name="nativePlace"
                           type="text"
                           required
                           class="inputbox profileInputBox">
                    <label for="nativePlace"
                           class="profileLabel">Native Place</label>
                  </div>
                </div>


              </div>

              <!-- fourth row -->
              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="physicallyDisabled"
                            id="physicallyDisabled">
                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                    <label for="physicallyDisabled"
                           class="profileLabel select2ProfileInputBox">Physically Disabled</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="Language"
                            id="motherTongue">
                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Tamil">Tamil</option>
                      <option value="Malayalam">Malayalam</option>
                      <option value="Telugu">Telugu</option>
                      <option value="Kannada">Kannada</option>
                      <option value="Hindi">Hindi</option>
                      <option value="Others">Others</option>
                    </select>
                    <label for="motherTongue"
                           class="profileLabel select2ProfileInputBox">Mother Tongue</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="languageKnown"
                            multiple="multiple"
                            id="languageKnown">
                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Tamil">Tamil</option>
                      <option value="Malayalam">Malayalam</option>
                      <option value="Telugu">Telugu</option>
                      <option value="Kannada">Kannada</option>
                      <option value="Hindi">Hindi</option>
                      <option value="English">English</option>
                      <option value="French">French</option>
                      <option value="Urudhu">Urudhu</option>
                    </select>
                    <label for="languageKnown"
                           class="profileLabel select2ProfileInputBox">Language known</label>
                  </div>
                </div>




              </div>

              <!-- fifth row -->
              <div class="row">

              </div>
            </div>

            <div> HOROSCOPE & ZODIAC DETAILS
            </div>
            <hr class="lifeStyleLine">
            <div class="container-fluid">

              <!-- first row -->

              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <select class="js-example-basic-single select2me"
                            name="rasi"
                            id="rasi">
                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Maysha Rasi">Maysha Rasi</option>
                      <option value="Rishaba Rasi">Rishaba Rasi</option>
                      <option value="Mithuna Rasi">Mithuna Rasi</option>
                      <option value="Kadaga Rasi">Kadaga Rasi</option>
                      <option value="Simma Rasi">Simma Rasi</option>
                      <option value="Kanni Rasi">Kanni Rasi</option>
                      <option value="Thulam Rasi">Thulam Rasi</option>
                      <option value="Viruchaga Rasi">Viruchaga Rasi</option>
                      <option value="Thanusu Rasi">Thanusu Rasi</option>
                      <option value="Mahara Rasi">Mahara Rasi</option>
                      <option value="Kumba Rasi">Kumba Rasi</option>
                      <option value="Meena Rasi">Meena Rasi</option>
                    </select>
                    <label for="rasi"
                           class="profileLabel select2ProfileInputBox">Rasi</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="nakshatra"
                            id="nakshatra">

                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Aswini">Aswini</option>
                      <option value="Bharani">Bharani</option>
                      <option value="Karthigai">Karthigai</option>
                      <option value="Rohini">Rohini</option>
                      <option value="Mrigasheersham">Mrigasheersham</option>
                      <option value="Thiruvaathirai">Thiruvaathirai</option>
                      <option value="Punarpoosam">Punarpoosam</option>
                      <option value="Poosam">Poosam</option>
                      <option value="Aayilyam">Aayilyam</option>
                      <option value="Makam">Makam</option>
                      <option value="Pooram">Pooram</option>
                      <option value="Uthiram">Uthiram</option>
                      <option value="Hastham">Hastham</option>
                      <option value="Chithirai">Chithirai</option>
                      <option value="Swaathi">Swaathi</option>
                      <option value="Visaakam">Visaakam</option>
                      <option value="Anusham">Anusham</option>
                      <option value="Kettai">Kettai</option>
                      <option value="Moolam">Moolam</option>
                      <option value="Pooraadam">Pooraadam</option>
                      <option value="Uthiraadam">Uthiraadam</option>
                      <option value="Thiruvonam">Thiruvonam</option>
                      <option value="Avittam">Avittam</option>
                      <option value="Chathayam/Sadayam">Chathayam/Sadayam</option>
                      <option value="Poorattathi">Poorattathi</option>
                      <option value="Uthirattathi">Uthirattathi</option>
                      <option value="Revathi">Revathi</option>
                    </select>
                    <label for="nakshatra"
                           class="profileLabel select2ProfileInputBox">Nakshatra</label>
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="lagna"
                            id="lagna">
                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="Maysha">Maysha</option>
                      <option value="Rishaba">Rishaba</option>
                      <option value="Mithuna">Mithuna</option>
                      <option value="Kadaga">Kadaga</option>
                      <option value="Simma">Simma</option>
                      <option value="Kanni">Kanni</option>
                      <option value="Thulam">Thulam</option>
                      <option value="Viruchaga">Viruchagam</option>
                      <option value="Thanusu">Thanusu</option>
                      <option value="Mahara">Mahara</option>
                      <option value="Kumba">Kumba</option>
                      <option value="Meena">Meena</option>
                    </select>
                    <label for="lagna"
                           class="profileLabel select2ProfileInputBox">Lagna</label>
                  </div>
                </div>



              </div>
              <!-- second row -->


              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput">

                    <select class="js-example-basic-single select2me"
                            name="paagam"
                            id="paagam">
                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="1st Paagam">1st Paagam</option>
                      <option value="2nd Paagam">2nd Paagam</option>
                      <option value="3rd Paagam">3rd Paagam</option>
                      <option value="4th Paagam">4th Paagam</option>
                    </select>
                    <label for="paagam"
                           class="profileLabel select2ProfileInputBox">Paagam</label>
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="pob"
                           name="pob"
                           type="text"
                           required
                           class="profileInputBox inputbox"
                           ng-model="firstName">
                    <label for="pob"
                           class="profileLabel">Place of birth</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="tob"
                           name="tob"
                           type="text"
                           required
                           class="profileInputBox inputbox clock-input">
                    <label for="tob"
                           class="profileLabel">Time Of Birth</label>
                  </div>
                </div>


              </div>
              <div class="row mb-5">
                <div class="col-md-4">
                  <div class="profileInput">
                    <div id="horoscope"
                         name="horoscope"
                         type="text"
                         required
                         class="horoscopeStyle profileInputBox inputbox ">Upload Horoscope

                    </div>
                  </div>
                  <div class="mt-3 d-none">
                    <a target="_blank"
                       id="jathagamDownload">
                      Download
                      Jathagam
                      here
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div> FAMILY DETAILS
            </div>
            <hr class="lifeStyleLine">
            <div class="container-fluid">

              <!-- first row -->

              <div class="row mb-5">

                <div class="col-md-4">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="fName"
                           name="fName"
                           type="text"
                           required
                           class="profileInputBox inputbox">
                    <label for="fName"
                           class="profileLabel">Father Name</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="profileInput">
                    <input id="mName"
                           name="mName"
                           type="text"
                           required
                           class="profileInputBox inputbox">
                    <label for="mName"
                           class="profileLabel">Mother Name</label>
                  </div>
                </div>


                <div class="col-md-4">

                  <div class="profileInput">

                    <select id="sibCount"
                            name="sibCount"
                            type="number"
                            required
                            class="js-example-basic-single select2me">

                      <option value=""
                              selected="selected"
                              disabled="disabled">-- select one --</option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>

                    </select>
                    <label for="sibCount"
                           class="profileLabel select2ProfileInputBox">Number of Siblings</label>
                  </div>

                </div>

              </div>
              <div class="siblingsDetails"
                   id="sibDetails">

              </div>
              <!-- second row -->


              <div class="row mb-5">

                <div class="col-md-12">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="address"
                           name="address"
                           type="text"
                           required
                           class="profileInputBox inputbox">
                    <label for="address"
                           class="profileLabel">Address</label>
                  </div>
                </div>





              </div>

            </div>

            <!-- start of 3fields -->
            <div> ADDITIONAL DETAILS
            </div>
            <hr class="lifeStyleLine">
            <div class="container-fluid">


              <!-- about me row -->


              <div class="row mb-5">

                <div class="col-md-12">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="aboutMe"
                           name="aboutMe"
                           type="text"
                           required
                           class="profileInputBox inputbox">
                    <label for="aboutMe"
                           class="profileLabel">About Me</label>
                  </div>
                </div>

              </div>
              <!-- expectations -->


              <div class="row mb-5">

                <div class="col-md-12">
                  <div class="profileInput"
                       ng-app="myApp"
                       ng-controller="myCtrl">
                    <input id="expectations"
                           name="expectations"
                           type="text"
                           required
                           class="profileInputBox inputbox">
                    <label for="expectations"
                           class="profileLabel">Expectations</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of 3fields -->
            <!-- save and continue button -->
            <div class="row mb-5">

              <div class="col-md-4">
              </div>

              <div class="col-md-4">
                <div class="profileInput">
                  <div id="savebtn"
                       name="save"
                       type="text"
                       required
                       class="horoscopeStyle profileInputBox inputbox "> Save and Continue
                  </div>
                </div>
              </div>

              <div class="col-md-4">
              </div>

            </div>
            <!-- end of save and continue button -->

          </div>
        </div>
  <div id="snackbar"></div>
      </div>
    </div>
    <!-- Hidden Variables -->
    <input type="hidden"
           id="image-url" />
    <input type="hidden"
           id="image-thumbnail-url" />
  </div>
  <div class="footerDiv">
    <div class="footer">
      vivahahvizhamatrimony 2018
    </div>
  </div>
  <div id="loader"
       class="loader">

    <div class="imgContentDiv">

      <img src="asset/img/loader.gif" />
      <h3>Better way to find your better half...</h3>
    </div>

  </div>
</body>

<!-- <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/ar.js"></script> -->

<script src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script src="//code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="//widget.cloudinary.com/global/all.js"
        type="text/javascript"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>

<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script src="../js/validationRegex.js"></script>
<script src="../js/validation.js"></script>
<script src="js/constants.js"></script>
<script src="../js/security.js"></script>
<script defer
        src="js/siblings-details.js"></script>
<script defer
        src="js/profile-service-declaration.js"></script>
<script defer
        src="js/profile-utils.js"></script>
<script defer
        src="js/profile.js"></script>


<script>
  history.pushState(null, null, location.href);
  window.onpopstate = function()
  {
    history.go(1);
  };

</script>

</html>
